<!--
Dmytro Boichuk
home.html
the home page of the website
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <include href="include/header.htm"></include>
    <title>JustDate</title>

</head>
<body>
    <div class="container">

        <include href="include/navbar.htm"></include>

        <div class="jumbotron text-center">
            <div class="row">

                <div class="col">
                    <h1 class="display-4 ">Welcome to Just&hearts;Us!</h1>
                    <h4 class="lead">This is one of the biggest dating websites in the world. We have the best couple rates on the web. Don't wait and find your significant other right now! </h4>
                    <hr class="my-4">
                    <p class="font-italic ">"This dating website is the best" - Josh</p>
                    <p class="font-italic ">"Just give it a try, I bet you won't regret it!" - Susan</p>
                    <p class="font-italic ">"That's how I found my significant other!" - Karl</p>

                    <p></p>
                    <hr class="my-4">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="personalInfo" role="button">Create a Profile!</a>
                    </p>
                </div>
                <div class="col">
                    <img src="images/twoppl.jpg" class="img-fluid w-75 rounded" alt="a picture of a couple">

                </div>
            </div>
        </div>
    </div>




    <include href="include/footer.htm"></include>
</body>
</html>