<!DOCTYPE html>
<html lang="en">
<head>
    <include href="include/header.htm"></include>
    <title>JustDate</title>

</head>
<body>
    <div class="container">

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded  text-white" href="#" >JustDate</a>
                </li>

            </ul>
        </nav>

        <div class="jumbotron text-center">
            <div>
                <img src="images/twoppl.jpg" class="img-fluid w-25 rounded float-right" alt="a picture of a couple">

            </div>

            <h1 class="display-4 ">Welcome to JustDate!</h1>
            <h4 class="lead">This is one of the biggest dating websites in the world. We have the best couple rates on the web. Don't wait and find your significant other right now! </h4>
            <hr class="my-4">
            <p class="font-italic ">"This dating website is the best" - Josh</p>
            <p class="font-italic ">"Just give it a try, I bet you won't regret it!" - Susan</p>
            <p class="font-italic ">"That's how I found my significant other!" - Karl</p>

            <p></p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Create a Profile!</a>
            </p>
        </div>
    </div>




    <include href="include/footer.htm"></include>
</body>
</html>