<!DOCTYPE html>
<html lang="en">
<head>
    <include href="include/header.htm"></include>
    <title>JustDate</title>

</head>
<body>
<div class="container border">

    <include href="include/navbar.htm"></include>



    <h1>Interests</h1>
    <hr class="my-4">
    <form class="form-group" method="post">
        <p><strong>In-door Interests</strong></p>
        <div class="row">
            <div class="col">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="tv" name="options[]" value="tv">
                    <label class="custom-control-label" for="tv">tv</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="puzzles" name="options[]" value="puzzles">
                    <label class="custom-control-label" for="puzzles">puzzles</label>
                </div>
            </div>
            <div class="col">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="movies" name="options[]" value="movies">
                    <label class="custom-control-label" for="movies">movies</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="reading" name="options[]" value="reading">
                    <label class="custom-control-label" for="reading">reading</label>
                </div>
            </div>
            <div class="col">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="cooking" name="options[]" value="cooking">
                    <label class="custom-control-label" for="cooking">cooking</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="playing cards" name="options[]" value="playing cards">
                    <label class="custom-control-label" for="playing cards">playing cardss</label>
                </div>
            </div>
            <div class="col">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="board games" name="options[]" value="board games">
                    <label class="custom-control-label" for="board games">board games</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="video games" name="options[]" value="video games">
                    <label class="custom-control-label" for="video games">video games</label>
                </div>
            </div>

        </div>
        <p></p>




        <p><strong>Out-door Interests</strong></p>
        <div class="row">
            <div class="col">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="hiking" name="options[]" value="hiking">
                    <label class="custom-control-label" for="hiking">hiking</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="walking" name="options[]" value="walking">
                    <label class="custom-control-label" for="walking">walking</label>
                </div>
            </div>
            <div class="col">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="biking" name="options[]" value="biking">
                    <label class="custom-control-label" for="biking">biking</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="climbing" name="options[]" value="climbing">
                    <label class="custom-control-label" for="climbing">climbing</label>
                </div>
            </div>
            <div class="col">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="swimming" name="options[]" value="swimming">
                    <label class="custom-control-label" for="swimming">swimming</label>
                </div>
            </div>
            <div class="col">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="collecting" name="options[]" value="collecting">
                    <label class="custom-control-label" for="collecting">collecting</label>
                </div>
            </div>


        </div>


        <button type="submit"  class="btn btn-primary buttonMargin">Next ></button>


    </form>




</div>

<include href="include/footer.htm"></include>
</body>
</html>