<!--
Dmytro Boichuk
interests.html
this page will find out interests of the user

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <include href="include/header.htm"></include>
    <title>JustDate</title>

</head>
<body>
<div class="container border rounded">

    <include href="include/navbar.htm"></include>



    <h1>Interests</h1>
    <hr class="my-4">
    <form class="form-group" method="post">
        <p><strong>In-door Interests</strong></p>
        <span class="err">
                        <check if="{{ isset(@errors['indoor']) }}">
                            {{ @errors['indoor'] }}
                        </check>
                    </span>
        <div class="row">
            <repeat group="{{ @indoor }}" value="{{ @indoorArray }}">
            <div class="col">
                <repeat group="{{ @indoorArray }}" value="{{ @activity }}">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="{{@activity}}" name="optionsIn[]" value="{{@activity}}" <check if="{{in_array(@activity,@selectedIn)}}">checked</check>    >
                    <label class="custom-control-label" for="{{@activity}}">{{@activity}}</label>
                </div>
                </repeat>
            </div>
            </repeat>

        </div>
        <p></p>




        <p><strong>Out-door Interests</strong></p>
        <span class="err">
                        <check if="{{ isset(@errors['outdoor']) }}">
                            {{ @errors['outdoor'] }}
                        </check>
                    </span>
        <div class="row">
            <repeat group="{{ @outdoor }}" value="{{ @outdoorArray }}">
                <div class="col">
                    <repeat group="{{ @outdoorArray }}" value="{{ @outactivity }}">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="{{@outactivity}}" name="optionsOut[]" value="{{@outactivity}}"  <check if="{{in_array(@outactivity,@selectedOut)}}">checked</check> >
                            <label class="custom-control-label" for="{{@outactivity}}">{{@outactivity}}</label>
                        </div>
                    </repeat>
                </div>
            </repeat>


        </div>


        <button type="submit"  class="btn btn-primary buttonMargin">Next ></button>


    </form>




</div>

<include href="include/footer.htm"></include>
</body>
</html>