<!--
Dmytro Boichuk
profileSummary.html
this is summary of the profile
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <include href="include/header.htm"></include>
    <title>JustDate</title>

</head>
<body>
<div class="container border rounded">

    <include href="include/navbar.htm"></include>
    <p></p>
    <div class="row">
        <div class="col">
            <div class="container">

                <check if="{{isset(@SESSION.premiumMember)}}">
                    <true>
                        <div class="row border rounded-top">
                            <p class="my-2 ml-2">Name: {{@SESSION.premiumMember->getFname()}} {{@SESSION.premiumMember->getLname()}}</p>
                        </div>
                        <div class="row border">
                            <p class="my-2 ml-2">Gender: {{ucfirst(@SESSION.premiumMember->getGender())}}</p>
                        </div>
                        <div class="row border">
                            <p class="my-2 ml-2">Age: {{@SESSION.premiumMember->getAge()}}</p>
                        </div>
                        <div class="row border">
                            <p class="my-2 ml-2">Phone: {{@SESSION.premiumMember->getPhone()}}</p>
                        </div>
                        <div class="row border">
                            <p class="my-2 ml-2">Email: {{@SESSION.premiumMember->getEmail()}}</p>
                        </div>
                        <div class="row border">
                            <p class="my-2 ml-2">State: {{ucfirst(@SESSION.premiumMember->getState())}}</p>
                        </div>
                        <div class="row border">
                            <p class="my-2 ml-2">Seeking: {{ucfirst(@SESSION.premiumMember->getSeeking())}}</p>
                        </div>
                        <div class="row border rounded-bottom">
                            <p class="my-2 ml-2">Interests: <repeat group="{{@SESSION.premiumMember->getInDoorInterests()}}" value="{{@item}}">{{@item}}, </repeat>
                                <repeat group="{{@SESSION.premiumMember->getOutDoorInterests()}}" value="{{@item}}">{{@item}}, </repeat>
                            </p>
                        </div>
                    </true>
                    <false>
                        <div class="row border rounded-top">
                            <p class="my-2 ml-2">Name: {{@SESSION.member->getFname()}} {{@SESSION.member->getLname()}}</p>
                        </div>
                        <div class="row border">
                            <p class="my-2 ml-2">Gender: {{ucfirst(@SESSION.member->getGender())}}</p>
                        </div>
                        <div class="row border">
                            <p class="my-2 ml-2">Age: {{@SESSION.member->getAge()}}</p>
                        </div>
                        <div class="row border">
                            <p class="my-2 ml-2">Phone: {{@SESSION.member->getPhone()}}</p>
                        </div>
                        <div class="row border">
                            <p class="my-2 ml-2">Email: {{@SESSION.member->getEmail()}}</p>
                        </div>
                        <div class="row border">
                            <p class="my-2 ml-2">State: {{ucfirst(@SESSION.member->getState())}}</p>
                        </div>
                        <div class="row border rounded-bottom">
                            <p class="my-2 ml-2">Seeking: {{ucfirst(@SESSION.member->getSeeking())}}</p>
                        </div>

                    </false>
                </check>
            </div>
        </div>


        <div class="col">
            <div class="text-center">
                <img src="images/unnamed.png" alt="anonymous pearson" class="w-auto rounded">
            </div>
            <p></p>
            <h4>Biography</h4>
            <p>{{@SESSION.bio}}</p>
        </div>


    </div>
    <div class="text-center">
        <button type="submit"  class="btn btn-primary">Contact Me!</button>
    </div>
    <p></p>

</div>

<include href="include/footer.htm"></include>
</body>
</html>