<!--
Dmytro Boichuk
profile.html
this page will find out some info about the user
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <include href="include/header.htm"></include>
    <title>JustDate</title>

</head>
<body>
<div class="container border rounded">

    <include href="include/navbar.htm"></include>



    <h1>Profile</h1>
    <hr class="my-4">
    <form class="form-group" method="post">

      <div class="row">
          <div class="col">

                <div class="form-group">
                    <label for="email"><strong>Email</strong></label>
                    <input type="text" class="form-control " id="email" name="email" value="{{@email}}" required>
                    <span class="err">
                        <check if="{{ isset(@errors['email']) }}">
                            {{ @errors['email'] }}
                        </check>
                    </span>
                </div>

              <p><strong>State</strong></p>
              <select class="custom-select " name="state">
                  <repeat group="{{ @states }}" value="{{ @state }}">
                      <option value="{{@state}}"
                      <check if="{{@state==@selectedState}}">selected</check>   >{{@state}}</option>
                  </repeat>
              </select>
              <p></p>



                <p><strong>Seeking</strong></p>
              <repeat group="{{ @seeking }}" value="{{ @s }}">
                  <div class="form-check form-check-inline">
                      <label><input type="radio"
                                    name="seeking"
                                    id="{{ @s }}"
                                    value="{{ @s }}"
                          <check if="{{ @s == @selectedSeeking }}" >
                              checked="checked"
                          </check>
                          > {{ ucfirst(@s) }}
                          </input></label><br></div>
              </repeat>

                <p></p>
          </div>
          <div class="col">
              <div class="form-group ">
                  <label for="bio"><strong>Biography</strong></label>
                  <textarea class="form-control" id="bio" name="bio" rows="5" >{{@bio}}</textarea>
              </div>
          </div>

      </div>




        <button type="submit"  class="btn btn-primary buttonMargin">Next ></button>





    </form>




</div>

<include href="include/footer.htm"></include>
</body>
</html>